@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_cdrLayout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-title panel-heading">Assignments Search</div>
    <div class="panel-body">
        <div class="form-horizontal">
            <div class="form-group">
                <label for="accountNumber" class="control-label col-xs-2">Account Number</label>
                <div class="col-xs-2">
                    <input type="number" class="form-control" id="accountNumber" placeholder="Account Number">
                </div>
                <div class="col-xs-2">
                    <button type="submit" class="btn btn-primary" id="search">Search</button>
                </div>
            </div>
            <div id="records"></div>
        </div>
        <div id="loadGrid" class="form-horizontal">
            <div>
                <table id="jqTable" class="form-horizontal scroll"></table>
                <div id="jqTablePager"></div>
            </div>

        </div>
        <div id="details" class="form-horizontal" style="margin-top: 15px"></div>
        <div id="divNoRecordsFound">
            <div class="form-horizontal">
                <div class="form-group">
                    <label for="accountNumber" class="control-label col-xs-3 col-lg-push-2" style="color: #e80c4d;font-weight: bold;">Account number doesn't exists</label>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/AssignmentSearchAndCreate.js"></script>

