@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_cdrLayout.cshtml";
}

<h2>Home @User.Identity.Name</h2>
<div>@if (ViewData["AssignmentId"] != null)
     {
         <label class="label-info">Assignment for the record @ViewData["AssignmentId"].ToString() saved successfully </label>
     }</div>