@model IEnumerable<CDR.Web.Models.DOCUS_ASM_ASSIGNMENTS>

    <div id="loadGrid" class="form-horizontal">
        <div>
            <table id="jqTable" class="form-horizontal scroll"></table>
            <div id="jqTablePager" />
        </div>
    </div>

<script src="~/Scripts/AssignmentRecords.js"></script>
@*<script src="~/Scripts/bootstrap.js"></script>*@