@model ModelMetadata
@{var prop = Model;
  string elementName = prop.PropertyName;
  string displayName = prop.DisplayName;
  string desc = prop.Description;
}
<label  class="control-label col-xs-3" for="@(elementName)">@displayName</label>
<div class="col-xs-3">
    @Html.TextBox(elementName,prop.Model, new { title = desc, id = elementName,@class = prop.DataTypeName=="Date"?"form-control datepicker": "form-control" })
    @Html.ValidationMessage(prop.PropertyName)
</div>
          
