@model ModelMetadata
@{var prop = Model;
  string elementName = prop.PropertyName;
  string displayName = prop.DisplayName;
  string desc = prop.Description;
  string lookupKey = prop.AdditionalValues["LookupMethodName"].ToString();
  var lookUpRepository = ViewData["lookupRepository"];
}

<label  class="control-label col-xs-3" for="@(elementName)">@displayName</label>
<div class="col-xs-2">
    @if (lookUpRepository != null)
    {
        var propertyInfo = lookUpRepository.GetType().GetProperty(lookupKey);
        var lookUpData = propertyInfo.GetValue(lookUpRepository, null) as IEnumerable<object>;
        @Html.DropDownList(elementName, new SelectList(lookUpData, "LOOKUP_ID", "LOOKUP_VALUE"), new { title = desc, id = elementName,@class = "form-control" })
    }
</div>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>