@model CDR.Web.Models.DOCUS_ASM_ASSIGNMENTS
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_cdrLayout.cshtml";
}
<div class="container col-xs-pull-1">@Html.Partial("_AssignmentDetails", Model)</div>

<script src="~/Scripts/bootstrap.js"></script>
