@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_cdrLayout.cshtml";
}
<div class="col-lg-10">
    <div class="container table-bordered">
        <div style="margin: 10px 10px 20px 20px">

            <div class="form-horizontal">
                <div class="form-group">
                    <label for="accountNumber" class="control-label col-xs-2">Account Number</label>
                    <div class="col-xs-2">
                        <input type="number" class="form-control" id="accountNumber" placeholder="Account Number">
                    </div>
                    <div class="col-xs-2">
                        <button type="submit" class="btn btn-primary" id="search">Search</button>
                    </div>
                </div>
                <div id="records"></div>

                <div id="loadGrid">
                    <div>
                        <table id="jqTable" class="scroll"></table>
                        <div id="jqTablePager" />
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/Assignment.js"></script>
