/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}

.progress-bar.animate {
   width: 100%;
}

.modal-backdrop {
   opacity: 0.5;
}

.modal-dialog {
    margin-top: 10%;
   -webkit-transform: translate(0px, 50%);
   transform: translate(0px, 50%);
}

.progress-popup {
   margin-bottom: 0;
}
